/*Function to convert pixels to em
@function pxToEm($value, $base) {
    @return ($value / $base) + em;
}

h1 {
    font-size: pxToEm (32,16);
}
 */
 
 $blue: #0977d3;
 $red: #e84610;
 $green: #bada55;
 $black: #000000;
 $white: #ffffff;
 $yellow: #ffff00;
 
 $width: 300px;
 $height: 500px;
 
 /*This is a map example - commas used and semi-colon OUTSIDE the () */
 $colors: (
 blue: #0977d3, 
 red: #e84610, 
 green: #bada55,
 black: #000000,
 white: #ffffff,
 yellow: #ffff00
 );
 
 @each $key, $value in $colors {
     /* e.g. item-black, item-yellow etc*/
     .item-#{$key} {
         background-color: $value;
     }
 }
 
 /*This is then end of the map example */
 
 

 
 body {
     background-color: $black;
 }
 
 div {
     width: $width;
     height: $height;
     border: 1px solid black;
 }
 
 h1 {
     color: $yellow;
     
 }